# Conditions

- The answers to be sent back to dmitry.lebedev@efrei.fr before 24:00 16/02/2018
- Rename this file with your surname
- subject line of the e-mail should be "ST2DD27 TEST"

# Class environment
* Load Big Data virtual machine inside the VirtualBox
* login : hduser, password : hduser
* Launch Jupyter from shell as "jupyter notebook"
* Type the python code with answers into the "code" cells and execute them with Ctrl-Enter
* If a cell has star instead its number "In [*]" , then it is being executed

... otherwise install Jupyter (Anaconda Python 3)

## Python and pandas short test  (respect the names of functions and variables as it helps you to test)

Ex 1. Create a function named `fun_a` that will transform a string of words separated by ':' into a Python list

In [25]:
def fun_a(x):
    a=[]
    for i in x.split(":"):
        a.append(i)
    
    return(a)

fun_a("a:b")

['a', 'b']

In [26]:
### DO NOT CHANGE 
### EXECUTE , IF ERRORS CORRECT YOUR SOLUTION
assert(fun_a('a:b')[0]=='a')

Ex 2. Create a function `fun_b` that will take a numeric list as an argument and output the product of the list and of its copy in inverse order

```
fun_b([1,2,3]) == [3,4,3] # 1*3 , 2*2, 3*1
```

In [27]:
def fun_b(x):
    y=0
    reversedX=list(reversed(x))
    result=[]
    
    for i in x:
        result.append(i*reversedX[y])
        y=y+1
    return(result)

fun_b([1,2,3])

[3, 4, 3]

In [28]:
### DO NOT CHANGE 
### EXECUTE , IF ERRORS CORRECT YOUR SOLUTION
assert(fun_b([1,2,3]) == [3,4,3])

Ex 3. Create a function `fun_c` that for an argument `dict` (with strings as keys and numbers as values) will replace its values by the keys and keys by the values. Duplicates should be concatenated.

In [29]:
def fun_c(x):
    d={}
    
    for key, value in x.items():
        d[value]=key
        
    return (d)
fun_c({'IBN':20})

{20: 'IBN'}

In [30]:
### DO NOT CHANGE 
### EXECUTE , IF ERRORS CORRECT YOUR SOLUTION
assert(fun_c({'a':1})[1]=='a')

Ex 4. Create a text file named 'a.txt' containing the following text
```
aaa bbb ccc
aaa aaa bbb
bbb aaa ccc
```
Create a function `w_freq` to count the frequency of the words in this file, its output will be a `dict` object.

In [31]:
import re
import string

def w_freq(filename):
    # YOUR CODE HERE + CORRECT THE RETURN STATEMENT
    document_text = open(filename, 'r')
    text_string = document_text.read()
    match_pattern = re.findall(r'\b[a-z]{3,15}\b', text_string)
    
    frequency = {}
    
    for word in match_pattern:
        count = frequency.get(word,0)
        frequency[word] = count + 1
    
    frequency_list = frequency.keys()
    
    D={}
    for word in match_pattern:
        D[word] = frequency[word]
        
    #return({'ccc':2})
    document_text.close()
    return D





w_freq('a.txt')

{'aaa': 4, 'bbb': 3, 'ccc': 2}

In [32]:
### DO NOT CHANGE 
### EXECUTE , IF ERRORS CORRECT YOUR SOLUTION
assert(w_freq('a.txt')["ccc"]==2)

Ex 5. Create a function `sum2` which will calculate a sum of two subsequent elements of a numeric list :
```
sum2([1,2,3,4 ]) == [3,5,7]
```

In [33]:
def sum2(x):
    result=[]
    for i in range(1,len(x)):
        
        result.append(x[i-1]+x[i])
    return result

print(sum2([1,2,3,4]))
print(sum2([2,3]))
print(sum2([3,4]))

[3, 5, 7]
[5]
[7]

In [34]:
assert(sum2([1,2,3,4 ]) == [3,5,7])

Ex 6. Create a Pandas Series `rand_ser` of length 1000 with random numbers from 0 to 1 indexed by letters 'a','b', etc

In [35]:
import pandas as pd
import random
length=0
str=[]

while length<1000:
   str.append(random.choice("ab"))
   length=length+1

#rand_ser = pd.Series([random.uniform(0, 1) for i in range (0,1000)],index=[char for char in str])
rand_ser = pd.Series([random.randint(0, 1) for i in range (0,1000)],index=[char for char in str])
print(rand_ser)

a    1
a    1
b    1
a    0
b    0
b    0
a    1
b    0
a    1
a    0
b    0
b    1
b    0
a    0
a    1
b    1
b    0
b    1
b    1
b    1
a    0
a    1
a    1
b    1
a    0
a    0
b    1
a    0
a    1
b    0
    ..
b    0
b    1
a    1
b    0
b    0
b    1
b    0
a    0
b    0
a    0
b    0
a    1
b    1
b    0
a    1
a    0
a    1
b    0
b    0
a    0
b    1
b    1
b    1
a    0
a    0
a    0
a    0
a    0
b    0
a    1
Length: 1000, dtype: int64

In [36]:
### DO NOT CHANGE 
### EXECUTE , IF ERRORS CORRECT YOUR SOLUTION
assert(rand_ser['a']>=0.0)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

Ex 7. Create a function `str_sum`  which takes as argument a string and the pandas Series (such as `rand_ser`) and calculates the sum of all values in `rand_ser` corresponding to the letters in string. If letters repeat, then the values should also repeat

For example, 
```
str_sum('ab',pd.Series([1,2,3], index=[ 'a','a','b'] )) == (1 + 2) + 3 + (1 + 2)
```

In [42]:
import pandas as pd
import string


def str_sum(s,x):
    ## your code here and correct the return
    D=0
    for ValueString in s:
        #print (ValueString)
        #print(x[ValueString].sum())
        D=D+x[ValueString].sum()*x[ValueString].size
        #print("number of {} = {}".format(ValueString,x[ValueString].size))
        #print("end loop")
        #print(x.where["index"]==ValueString].sum
    
    return D


str_sum('ab',pd.Series([1,2,3,3],index=['a','b','a','b']))
#str_sum('ab',rand_ser)

18

In [43]:
### DO NOT CHANGE 
### EXECUTE , IF ERRORS CORRECT YOUR SOLUTION
assert(str_sum('ab',pd.Series([1,2,3], index=[ 'a','a','b'] )) == 9)

Ex 8. Download the data on car fuel consumption from US Dept of Energy website https://www.fueleconomy.gov/feg/epadata/vehicles.csv.zip

unzip and read it with pandas pd.read_csv (ignore the warnings)

Create a function 'elect' that will take the file name argument and year as number (f.e. 2015) 

and it returns a tuple (min, max) containing `model`s of two electric cars with minimal and maximal `range` by year (to find electric cars look at 'fuelType' column, and select only Electric cars)

In [44]:
import pandas as pd
import numpy as np

def elect(filename,year):
    ## your code here and correct the line below
    df = pd.read_csv(filename)
    #df[(df['fuelType'] == 'electricity')]
    df = df[(df['fuelType'] == 'Electricity') & (df['year'] == year)]
   
    minimun = df[['year','range','make','model']]
    minimun1 = minimun['range'].min()
    minimun = minimun[(minimun['range']== minimun1)]
    
    maximun = df[['year','range','make','model']]
    maximun1 = maximun['range'].max()
    maximun = maximun[(maximun['range']== maximun1)]
    
    #maximun = pd.concat(minimun, ignore_index=True)
    return pd.concat([minimun, maximun])

elect('vehicles.csv', 2013)

X:\Herve\Software\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2856: DtypeWarning: Columns (71,73,74,76) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

       year  range   make                            model
25607  2013     38  Scion                            iQ EV
25674  2013    265  Tesla  Model S (85 kW-hr battery pack)

Ex 9. With fuel economy data find the models of 5 top range cars every year, create a new data frame (named `top5`) limited to these models with columns as below
```
year	range	make	    model			
_____________________________________
1998	81	    Honda	    EV Plus
1998	72	    Chevrolet	S10 Electric
...
```

In [45]:
import pandas as pd
import numpy as np

df = pd.read_csv('vehicles.csv')
df = df[['year','range','make','model','fuelType']]

year = df[['year']].drop_duplicates()

top5 =  pd.DataFrame({})

for index, row in year.iterrows():
   
   a = df[(df['fuelType'] == 'Electricity') & (df['year'] == row['year'])]
   a = a[['year','range','make','model']]
   a = a.sort_values(by=['range'],ascending=False).head(5)
   
   top5 = pd.concat([top5,a])

print(top5)

   
#top5 = df.groupby('year','range').head(5)
#top5

#top5 = pd.DataFrame()

X:\Herve\Software\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (71,73,74,76) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       year  range             make                                model
23031  1998     81            Honda                              EV Plus
23033  1998     72        Chevrolet                         S10 Electric
23032  1998     33        Chevrolet                         S10 Electric
23024  1999    105              GMC                                  EV1
23026  1999     81            Honda                              EV Plus
23029  1999     70            Dodge            Caravan/Grand Caravan 2WD
23030  1999     70         Plymouth            Voyager/Grand Voyager 2WD
23023  1999     55              GMC                                  EV1
7138   2000     90           Nissan                             Altra EV
7139   2000     88           Toyota                              RAV4 EV
23022  2000     65             Ford                    Ranger Pickup 2WD
23021  2000     50             Ford                    Ranger Pickup 2WD
8143   2001     88           Toyota                              RAV4 EV
23020  2001     50             Ford                    Ranger Pickup 2WD
8146   2001     38             Ford               Explorer USPS Electric
8147   2001     33           Nissan                           Hyper-Mini
8144   2001     29             Ford                                Th!nk
9212   2002     95           Toyota                              RAV4 EV
9213   2002     38             Ford               Explorer USPS Electric
10329  2003     95           Toyota                              RAV4 EV
23034  2008    100             MINI                                MiniE
24463  2011     94              BMW                             Active E
23035  2011     73           Nissan                                 Leaf
23131  2011     63            smart      fortwo electric drive cabriolet
23132  2011     63            smart          fortwo electric drive coupe
24775  2012    265            Tesla                              Model S
25691  2012    122              BYD                                   e6
25608  2012    103           Toyota                              RAV4 EV
24464  2012     88  CODA Automotive                                 CODA
24465  2012     76             Ford                       Focus Electric
25674  2013    265            Tesla      Model S (85 kW-hr battery pack)
25673  2013    208            Tesla      Model S (60 kW-hr battery pack)
25945  2013    139            Tesla      Model S (40 kW-hr battery pack)
27305  2013    127              BYD                                   e6
25706  2013    103           Toyota                              RAV4 EV
27211  2014    265            Tesla      Model S (85 kW-hr battery pack)
28556  2014    242            Tesla  Model S AWD (85 kW-hr battery pack)
27212  2014    208            Tesla      Model S (60 kW-hr battery pack)
27303  2014    127              BYD                                   e6
26834  2014    103           Toyota                              RAV4 EV
28572  2015    270            Tesla                    Model S AWD - 85D
29419  2015    270            Tesla                    Model S AWD - 90D
28541  2015    265            Tesla      Model S (85 kW-hr battery pack)
29910  2015    265            Tesla      Model S (90 kW-hr battery pack)
28571  2015    253            Tesla                   Model S AWD - P85D
30947  2016    315            Tesla                  Model S AWD - P100D
29915  2016    294            Tesla                    Model S AWD - 90D
31311  2016    289            Tesla                  Model X AWD - P100D
29917  2016    270            Tesla                   Model S AWD - P90D
29913  2016    270            Tesla                    Model S AWD - 85D
31466  2017    335            Tesla                   Model S AWD - 100D
31338  2017    315            Tesla                  Model S AWD - P100D
32718  2017    310            Tesla                   Model 3 Long Range
32788  2017    295            Tesla                   Model X AWD - 100D
31386  2017    294            Tesla                    Model S AWD - 90D
32796  2018    335            Tesla                         Model S 100D
32798  2018    315            Tesla                        Model S P100D
32793  2018    310            Tesla                   Model 3 Long Range
32800  2018    295            Tesla                         Model X 100D
32801  2018    289            Tesla                        Model X P100D

Ex 10. Transform the previous data frame to the following form (call new data frame `top5t`)

```
year	make_model1	    make_model2            make_model3  ...
___________________________________________________________ ...
1998	Honda EV Plus   Chevrolet S10 Electric ...
1999    Company Model   Company Model          ...
...
```

In [47]:
#YOUR CODE AND CORRECTIONS
#print(top5)
def columnGet(x):
    if (x == 2):
        return "make_model1"
    if (x == 3):
        return "make_model2"
    if (x == 4):
        return "make_model3"
    if (x == 5):
        return "make_model4"
    if (x == 6):
        return "make_model5"
    return "make_model2"

drop =  top5[['year']].drop_duplicates()

top5t = pd.DataFrame(columns=['year','make_model1','make_model2','make_model3','make_model4','make_model5'])
for index1,row1 in drop.iterrows():
    counter=1

    df= pd.DataFrame({})

    top5t.loc[index1,'year']=row1['year']
    for index2, row2 in top5[(top5['year']== row1['year'])].iterrows():
        counter = counter + 1
        make_model = (row2['make'] + " " + row2['model'])
        top5t.loc[index1,columnGet(counter)]=make_model
        
        #top5t.loc[index1] = 
        #print(make_model)
    #print (make_model)
    #for x in range(6 - counter,8):
        #make_model.append('NaN')
    #df = pd.DataFrame(np.array(make_model).reshape(1,6), columns = list(['year','make_model1','make_model2','make_model3','make_model4','make_model5']))
    #top5t= pd.concat([make_model,top5t])
    #for index,row in make_model.iterrows():
        #print(row)
        #print(row['year'])
        #for index2, make_model in top5.iterrows():
        #    b = pd.append
        
        
    
print(top5t)

       year                            make_model1  \
23031  1998                          Honda EV Plus
23024  1999                                GMC EV1
7138   2000                        Nissan Altra EV
8143   2001                         Toyota RAV4 EV
9212   2002                         Toyota RAV4 EV
10329  2003                         Toyota RAV4 EV
23034  2008                             MINI MiniE
24463  2011                           BMW Active E
24775  2012                          Tesla Model S
25674  2013  Tesla Model S (85 kW-hr battery pack)
27211  2014  Tesla Model S (85 kW-hr battery pack)
28572  2015                Tesla Model S AWD - 85D
30947  2016              Tesla Model S AWD - P100D
31466  2017               Tesla Model S AWD - 100D
32796  2018                     Tesla Model S 100D

                                     make_model2  \
23031                     Chevrolet S10 Electric
23024                              Honda EV Plus
7138                              Toyota RAV4 EV
8143                      Ford Ranger Pickup 2WD
9212                 Ford Explorer USPS Electric
10329                                        NaN
23034                                        NaN
24463                                Nissan Leaf
24775                                     BYD e6
25674      Tesla Model S (60 kW-hr battery pack)
27211  Tesla Model S AWD (85 kW-hr battery pack)
28572                    Tesla Model S AWD - 90D
30947                    Tesla Model S AWD - 90D
31466                  Tesla Model S AWD - P100D
32796                        Tesla Model S P100D

                                 make_model3  \
23031                 Chevrolet S10 Electric
23024        Dodge Caravan/Grand Caravan 2WD
7138                  Ford Ranger Pickup 2WD
8143             Ford Explorer USPS Electric
9212                                     NaN
10329                                    NaN
23034                                    NaN
24463  smart fortwo electric drive cabriolet
24775                         Toyota RAV4 EV
25674  Tesla Model S (40 kW-hr battery pack)
27211  Tesla Model S (60 kW-hr battery pack)
28572  Tesla Model S (85 kW-hr battery pack)
30947              Tesla Model X AWD - P100D
31466               Tesla Model 3 Long Range
32796               Tesla Model 3 Long Range

                                 make_model4               make_model5
23031                                    NaN                       NaN
23024     Plymouth Voyager/Grand Voyager 2WD                   GMC EV1
7138                  Ford Ranger Pickup 2WD                       NaN
8143                       Nissan Hyper-Mini                Ford Th!nk
9212                                     NaN                       NaN
10329                                    NaN                       NaN
23034                                    NaN                       NaN
24463      smart fortwo electric drive coupe                       NaN
24775                   CODA Automotive CODA       Ford Focus Electric
25674                                 BYD e6            Toyota RAV4 EV
27211                                 BYD e6            Toyota RAV4 EV
28572  Tesla Model S (90 kW-hr battery pack)  Tesla Model S AWD - P85D
30947               Tesla Model S AWD - P90D   Tesla Model S AWD - 85D
31466               Tesla Model X AWD - 100D   Tesla Model S AWD - 90D
32796                     Tesla Model X 100D       Tesla Model X P100D